@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit-based browsers */
.scrollable-element::-webkit-scrollbar {
  width: 6px; 
}

.scrollable-element::-webkit-scrollbar-track {
  background: #F5F6FD; 
}

.scrollable-element::-webkit-scrollbar-thumb {
  background: #a7a7a7; 
  border-radius: 15px;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7; 
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .scrollable-element::-webkit-scrollbar {
    width: 1px; 
  }
  
  .scrollable-element::-webkit-scrollbar-track {
    background: #F5F6FD; 
  }
  
  .scrollable-element::-webkit-scrollbar-thumb {
    background: #F5F6FD; 
    border-radius: 15px;
  }
  
  .scrollable-element::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7; 
    border-radius: F5F6FD;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html{
  height: 100%;
  width: 100%;
}

/* modal  */

.modal-class {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem; 
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);   
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.modal-class::backdrop{
  background-color: black;
  opacity: 0.5;
}

.modal-input-label{
  color: #4a5568; 
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
